<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/9.2.0/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/9.2.0/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/events.css">
    <link rel="stylesheet" href="/stylesheets/testionials.css">
    <link rel="stylesheet" href="/stylesheets/contact.css">

</head>

<body>
    <header>
        <div class="logo">StrengthSphere</div>
        <nav>
            <ul>
                <li><a href="#home" class="active">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#Events">Events</a></li>
                <li><a href="#Testimonials">Testimonial</a></li>
                <li><a href="#contact">Contact Us</a></li>
            </ul>
        </nav>
        <div class="search-bar">
            <!--<input type="text" placeholder="Search...">-->
            <a href=""><button class="login">Get Started</button></a>

        </div>
    </header>
    <h2 class="cllg_name">THADOMAL SHAHANI ENGINEERING COLLEGE</h2>
    <div id="app">
        <!-- Food slider container -->
        <div class="food-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <!-- configure slide color with "data-slide-bg-color" attribute -->
                    <div class="swiper-slide" data-swiper-autoplay="2000">
                        <!-- slide image wrap -->
                        <div class="food-slider-scale hero-img ">
                            <!-- slide image -->
                            <img src="/tsec.jpg" alt="Caviar-Express">
                        </div>
                    </div>
                    <!-- configure slide color with "data-slide-bg-color" attribute -->
                    <div class="swiper-slide" data-swiper-autoplay="2000">
                        <!-- slide image wrap -->
                        <div class="food-slider-scale hero-img">
                            <!-- slide image -->
                            <img src="/facultys-1024x497.jpg" alt="Blue-Berry">
                        </div>
                    </div>
                    <!-- configure slide color with "data-slide-bg-color" attribute -->
                    <div class="swiper-slide" data-swiper-autoplay="2000">
                        <!-- slide image wrap -->
                        <div class="food-slider-scale hero-img">
                            <!-- slide image -->
                            <img src="/branches.jpg" alt="Beef-Steak">
                        </div>
                    </div>
                    <!-- configure slide color with "data-slide-bg-color" attribute -->
                    <div class="swiper-slide" data-swiper-autoplay="2000">
                        <!-- slide image wrap -->
                        <div class="food-slider-scale hero-img">
                            <!-- slide image -->
                            <img src="/lab.jpg" alt="Strawberry-Finx">
                        </div>
                    </div>
                </div>
                <!-- right/next navigation button -->
                <div class="food-slider-button-prev food-slider-button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 350 160 90">
                        <g class="food-slider-svg-wrap">
                            <g class="food-slider-svg-circle-wrap">
                                <circle cx="42" cy="42" r="40"></circle>
                            </g>
                            <path class="food-slider-svg-arrow"
                                d="M.983,6.929,4.447,3.464.983,0,0,.983,2.482,3.464,0,5.946Z">
                            </path>
                            <path class="food-slider-svg-line" d="M80,0H0"></path>
                        </g>
                    </svg>
                </div>
                <!-- left/previous navigation button -->
                <div class="food-slider-button-next food-slider-button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 350 160 90">
                        <g class="food-slider-svg-wrap">
                            <g class="food-slider-svg-circle-wrap">
                                <circle cx="42" cy="42" r="40"></circle>
                            </g>
                            <path class="food-slider-svg-arrow"
                                d="M.983,6.929,4.447,3.464.983,0,0,.983,2.482,3.464,0,5.946Z">
                            </path>
                            <path class="food-slider-svg-line" d="M80,0H0"></path>
                        </g>
                    </svg>
                </div>
                <!-- Pagination -->

                <div class="autoplay-progress" style="display: none;">
                    <svg viewBox="0 0 48 48">
                        <circle cx="24" cy="24" r="20"></circle>
                    </svg>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container2" id="about">
        <h2 class="Section-2-title">About TSEC</h2>
        <div class="AboutUs">
            <div class="AboutUs_img">
                <img src="/Thampi.jpg" alt="">
                <h2>Principal: Dr. G.T. Thampi</h2>
            </div>
            <div class="info">
                <div class="cllg_info">
                    Thadomal Shahani Engineering College (TSEC) is a premier engineering institution in Mumbai,
                    established in 1983. It offers undergraduate and postgraduate programs across various engineering
                    disciplines, known for its academic excellence and vibrant campus life. TSEC is affiliated with the
                    University of Mumbai and is recognized for fostering innovation and technical expertise among
                    students.
                </div>
                <div class="About_principal">
                    Dr. G. T. Thampi, the principal of TSEC, is a well-respected academician and leader in the field of
                    engineering education. He is known for his emphasis on holistic student development, combining
                    technical knowledge with soft skills, ethics, and social responsibility. Under his leadership, TSEC
                    has grown in academic stature and community engagement.
                </div>
            </div>
        </div>
    </div>
    <hr style="margin-top: 200px;">
    <div class="Section-3" id="Events">
        <h2 class="UpcomingEvents">UPCOMING EVENTS</h2>
        <div class="section">
            <div class="video-visual">
                <video class="video" autoplay loop muted poster="" role="none"
                    aria-label="background gradient animation">
                    <source
                        src="https://raw.githubusercontent.com/mobalti/open-props-interfaces/main/dynamic-content-lockups-v2/assets/bg-gradient-animation.mp4"
                        type="video/mp4" />
                </video>
            </div>
            <div class="section-wrapper">
                <div class="content-wrapper">
                    <div class="content content-1">
                        <div class="mobile-visual">
                            <img class="card-img"
                                src="/codeissance.jpg"
                                alt="Fantasy warrior  - Video game character" />
                        </div>
                        <div class="meta">
                            <h2 class="headline">Codesiaance:
                                <span class="text-highlight">Codestorm Hackathon</span>
                            </h2>
                            <p class="desc">
                                The Premier Hackathon by Codestorm Committee Codesiaance is an innovative hackathon
                                organized by TSEC's Codestorm Committee, bringing together tech enthusiasts to solve
                                real-world challenges. Participants engage in collaborative problem-solving, showcasing
                                their coding prowess and creativity through cutting-edge projects.
                            </p>
                        </div>
                    </div>
                    <div class="content content-2">
                        <div class="mobile-visual">
                            <img class="card-img"
                                src="/shazam.jpg"
                                alt="Green haired ninja in armor - Video game character" />
                        </div>
                        <div class="meta">
                            <h2 class="headline">
                                Shazam:
                                <span class="text-highlight">Sporting Extravaganza</span>
                            </h2>
                            <p class="desc">
                                TSEC's Ultimate Multi-Sporting Extravaganza Shazam is a thrilling multiple sporting
                                event conducted by the TSEC Student Council. It features a wide array of competitive
                                sports, promoting camaraderie and sportsmanship among students while fostering a vibrant
                                campus spirit.
                            </p>
                        </div>
                    </div>
                    <div class="content content-3">
                        <div class="mobile-visual">
                            <img class="card-img"
                                src="/NFC.jpg"
                                alt="Female warrior in armor - Video game character" />
                        </div>
                        <div class="meta">
                            <h2 class="headline">
                                NFC:
                                <span class="text-highlight">CodeTantra's Coding Challenge</span>
                            </h2>
                            <p class="desc">
                                A Dynamic Hackathon by CodeTantra Need for Code (NFC) is a fast-paced hackathon powered
                                by CodeTantra, providing a platform for coders to demonstrate their programming skills.
                                The event focuses on innovative software solutions, encouraging participants to push the
                                boundaries of their technical expertise.
                            </p>
                        </div>
                    </div>
                    <div class="content content-4">
                        <div class="mobile-visual">
                            <img class="card-img"
                                src="/tsec_hacks.jpeg"
                                alt="Agile warrior - Video game character" />
                        </div>
                        <div class="meta">
                            <h2 class="headline">
                                TSEC Hacks: <span class="text-highlight">Innovation Marathon</span>
                            </h2>
                            <p class="desc">
                                A Tech Innovation Marathon by Codecell Organized by the Codecell Committee of TSEC, TSEC
                                Hacks is a 24-hour hackathon that challenges participants to create innovative software
                                solutions. This event fosters creativity, teamwork, and the application of emerging
                                technologies to address modern challenges
                            </p>
                        </div>
                    </div>
                </div>
                <div class="visual">
                    <div class="card-wrapper">
                        <div class="card card-1">
                            <img class="card-img" src="/codeissance.jpg" alt="Fantasy warrior  - Video game character" />
                        </div>
                        <div class="card card-2">
                            <img class="card-img" src="/shazam.jpg"
                                alt="Green haired ninja in armor - Video game character" />
                        </div>
                        <div class="card card-3">
                            <img class="card-img" src="/NFC.jpg" alt="Female warrior in armor - Video game character" />
                        </div>
                        <div class="card card-4">
                            <img class="card-img" src="/tsec_hacks.jpeg" alt="Agile warrior - Video game character" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="Testimonials" id="Testimonials">
        <h1>TESTIMONIALS</h1>
        <div class="slider">
            <input type="radio" name="testimonial" id="t-1">
            <input type="radio" name="testimonial" id="t-2">
            <input type="radio" name="testimonial" id="t-3" checked>
            <input type="radio" name="testimonial" id="t-4">
            <input type="radio" name="testimonial" id="t-5">
            <div class="testimonials">
                <label class="item" for="t-1">
                    <img src="https://dummyimage.com/150" alt="picture">
                    <p>"Raw denim you probably haven't heard of them jean short austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse."</p>
                    <h2>- Princy, Web Developer</h2>
                </label>
                <label class="item" for="t-2">
                    <img src="https://dummyimage.com/150" alt="picture">
                    <p>"Raw denim you probably haven't heard of them jean short austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse."</p>
                    <h2>- Princy, Web Developer</h2>
                </label>
                <label class="item" for="t-3">
                    <img src="https://dummyimage.com/150" alt="picture">
                    <p>"Raw denim you probably haven't heard of them jean short austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse."</p>
                    <h2>- Princy, Web Developer</h2>
                </label>
                <label class="item" for="t-4">
                    <img src="https://dummyimage.com/150" alt="picture">
                    <p>"Raw denim you probably haven't heard of them jean short austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse."</p>
                    <h2>- Princy, Web Developer</h2>
                </label>
                <label class="item" for="t-5">
                    <img src="https://dummyimage.com/150" alt="picture">
                    <p>"Raw denim you probably haven't heard of them jean short austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse."</p>
                    <h2>- Princy, Web Developer</h2>
                </label>
            </div>
            <div class="dots">
                <label for="t-1"></label>
                <label for="t-2"></label>
                <label for="t-3"></label>
                <label for="t-4"></label>
                <label for="t-5"></label>
            </div>
        </div>
    </div>
    <div class="my-5">
        <footer class="text-center text-lg-start text-white" style="background-color: #000000">
            <div class=" p-4 pb-0">
                <section>
                    <div class="row justify-content-center">
                        <!-- Company Info -->
                        <div class="col-md-3 col-lg-3 col-xl-3 mb-4">
                            <h6 class="text-uppercase fw-bold mb-4 text-center">
                                TSEC CONNECT
                            </h6>
                            <p>
                                Here you can use rows and columns to organize your footer
                                content. Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit.
                            </p>
                        </div>
    
                        <!-- Products -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            <h6 class="text-uppercase fw-bold mb-4 text-center text-decoration-solid">Products</h6 >
                            <p><a class="text-white text-decoration-none d-block text-center">MDBootstrap</a></p>
                            <p><a class="text-white text-decoration-none d-block">MDWordPress</a></p>
                            <p><a class="text-white text-decoration-none d-block">BrandFlow</a></p>
                            <p><a class="text-white text-decoration-none d-block">Bootstrap Angular</a></p>
                        </div>
    
                        <!-- Useful Links -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            <h6 class="text-uppercase fw-bold mb-4 text-center">Useful links</h6>
                            <p><a class="text-white text-decoration-none d-block">Your Account</a></p>
                            <p><a class="text-white text-decoration-none d-block">Become an Affiliate</a></p>
                            <p><a class="text-white text-decoration-none d-block">Shipping Rates</a></p>
                            <p><a class="text-white text-decoration-none d-block">Help</a></p>
                        </div>
    
                        <!-- Contact -->
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-4">
                            <h6 class="text-uppercase fw-bold mb-4 text-center">Contact</h6>
                            <p><i class="fas fa-home me-2"></i> New York, NY 10012, US</p>
                            <p><i class="fas fa-envelope me-2"></i> info@gmail.com</p>
                            <p><i class="fas fa-phone me-2"></i> + 01 234 567 88</p>
                            <p><i class="fas fa-print me-2"></i> + 01 234 567 89</p>
                        </div>
                    </div>
                </section>
    
                <hr class="my-3">
    
                <!-- Copyright and Social Media -->
                <section class="p-3 pt-0">
                    <div class="row d-flex align-items-center">
                        <!-- Copyright -->
                        <div class="col-md-7 col-lg-8 text-center text-md-start">
                            <div class="p-3">
                                © 2020 Copyright:
                                <a class="text-white text-center" href="https://mdbootstrap.com/">TSEC Connect</a>
                            </div>
                        </div>
    
                        <!-- Social Media Icons -->
                        <div class="col-md-5 col-lg-4 text-center text-md-end">
                            <a class="btn btn-outline-light btn-floating m-1" role="button">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="btn btn-outline-light btn-floating m-1" role="button">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="btn btn-outline-light btn-floating m-1" role="button">
                                <i class="fab fa-google"></i>
                            </a>
                            <a class="btn btn-outline-light btn-floating m-1" role="button">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </section>
            </div>
        </footer>
    </div>
</body>
<script src="/javascripts/script.js"></script>
<script src="/javascripts/testimonial.js"></script>

</html>