<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body>
    <div class="container" id="container">
        <div class="form-container sign-up">
            <form>
                <h1>Create Account</h1>
                <div class="social-icons">
                    <a href="#" class="icon">
                        <i class="fa-brands fa-google-plus-g"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fa-brands fa-github"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                </div>
                <div style="display: flex; justify-content: space-between; gap: 10px;">
                <button><a href="#" style="color: white;">Student</a></button>
                <button><a href="#" style="color: white;">Alumni</a></button>
                </div>
            </form>
        </div>
        <div class="form-container sign-in">
            <form id="signInForm">
                <h1>Sign in</h1>
                <div class="social-icons">
                    <a href="#" class="icon">
                        <i class="fa-brands fa-google-plus-g"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fa-brands fa-github"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                </div>
                <span>Or use your email password</span>
                <input type="email" name="Email" placeholder="Email" required>

                <div class="password-container">
                    <input type="password" name="Password" placeholder="Password" required>
                    <i class="fa fa-eye-slash toggle-password"></i>
                </div>
                <a href="#" id="forgotPass">Forget your password?</a>
                <button id="sendOtpButton" type="button">Send OTP</button>
                <div id="otpForm">
                    <form>
                        <input type="text" id="otpInput" placeholder="Enter OTP" required style="width: 100%;">
                        <button id="verifyOtpButton" type="button">Verify OTP</button>
                    </form>
                </div>
            </form>

        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your account details to continue</p>
                    <button class="hidden" id="login">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Hello There!</h1>
                    <p>Register with your personal details to continue</p>
                    <button class="hidden" id="register">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/javascripts/login.js"></script>



</html>