header {
    background: #000000;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #444;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    color: #e8491d;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.3s ease;    
    display: inline-block; 
}

nav ul li a:hover {
    transform: scale(1.2);
}


.search-bar {
    display: flex;
}

.search-bar input[type="text"] {
    padding: 5px;
    border-radius: 5px 0 0 5px;
    border: none;
    outline: none;
}

.search-bar button {
    font-size:17px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #e8491d;
    color: #fff;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #d7381a;
}
:root {
	--food-slider-font-family: sans-serif;
	--food-slider-button-side-offset: 32px;
	--food-slider-button-mobile-side-offset: 24px;
	--food-slider-button-mobile-bottom-offset: 16px;
	--food-slider-title-font-size: 100px;
	--food-slider-title-line-height: 1.2;
}
html,
body {
	position: relative;
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	color: #fff;
	line-height: 1.5;
	font-family: -apple-system, system-ui, Helvetica Neue, Helvetica, Arial,
		Segoe UI, Roboto, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    /* background-color: rgb(240, 234, 221); */
    /* background: linear-gradient(135deg, rgba(0, 0, 0, 0.075), rgb(255, 255, 255)); */
    background-color: white;
}
#app {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.food-slider {
	width: 100%;
	height: 100%;
	font-family: var(--food-slider-font-family);
}
.food-slider-no-transition {
	transition-duration: 0ms !important;
	transition-delay: 0ms !important;
	transition-property: none !important;
}
.food-slider-no-transition *:not(.swiper-wrapper) {
	transition-duration: 0ms !important;
	transition-delay: 0ms !important;
	transition-property: none !important;
}
.food-slider-no-transition .swiper-wrapper {
	transition-delay: 0ms !important;
}
.food-slider .swiper {
	width: 100%;
	height: 100%;
	transition: 1s background-color 1.3s;
}
.food-slider .swiper-wrapper {
	transition-delay: 1s;
	transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
}
.food-slider .swiper-slide {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100% - 120px);
}
.food-slider-title {
	transition-delay: 1s;
	z-index: 10;
}
.food-slider-title-text {
	font-weight: 700;
	font-size: var(--food-slider-title-font-size);
	line-height: var(--food-slider-title-line-height);
	letter-spacing: -1px;
	color: #343148ff;
	-webkit-text-stroke: 1px #fff;
}
.food-slider-scale {
	width: 100%;
	height: 100%;
	position: absolute;
	transform: scale(0.6);
	transition-duration: 1s;
	transition-property: transform;
	transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
	opacity: 0.9;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
.food-slider-scale img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	transform: scale(1) translate(50%);
	transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
	transition-property: transform;

}
.food-slider-button {
	transition: 0.5s;
	outline: none;
	position: absolute;
	width: 140px;
	z-index: 10;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}
.food-slider-button svg {
	display: block;
	transition: 0.5s;
}
.food-slider-button .food-slider-svg-circle-wrap {
	transition: 0.5s;
	transform-origin: -20px 40px;
	opacity: 1;
}
.food-slider-button circle {
	transition: 0.5s;
	stroke-width: 2px;
	stroke: #0a0000;
	fill: none;
	stroke-dasharray: 1;
	stroke-dashoffset: 1;
	opacity: 1;
	transform-origin: 0px 0px 0px;
}
.food-slider-button .food-slider-svg-arrow {
	transition: 0.5s;
	fill: #020000;
	transform: rotateY(180deg) translate(-55px, 36.1px) scale(1.75);
}
.food-slider-button-prev {
	left: var(--food-slider-button-side-offset);
}
.food-slider-button-next {
	right: var(--food-slider-button-side-offset);
}
.food-slider-pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 20px;
}
.food-slider-pagination .swiper-pagination-bullet {
	height: 80px;
	width: 150px;
	background: none;
}
.food-slider-pagination
	.swiper-pagination-bullet:not(.swiper-pagination-bullet-active):hover {
	opacity: 0.5;
}
.food-slider-pagination .swiper-pagination-bullet img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.food-slider-pagination .swiper-pagination-bullet span {
	display: inline-block;
	font-size: 10px;
	position: relative;
	top: -12px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.food-slider-button-disabled {
	opacity: 0.2;
	cursor: default;
}
.food-slider-button .food-slider-svg-wrap {
	transform: translateY(353px);
}
.food-slider-button-next .food-slider-svg-wrap {
	transform: translateY(353px) rotateY(180deg);
	transform-origin: 80px 0px 0px;
}
.food-slider-button .food-slider-svg-line {
	transition: 0.5s;
	stroke: #0a0000;
	stroke-width: 2;
	transform: translate(50px, 42px);
}
.food-slider-button-prev:not(.food-slider-button-disabled):hover svg {
	transform: translate(-16px);
}
.food-slider-button-next:not(.food-slider-button-disabled):hover svg {
	transform: translate(16px);
}
.food-slider-button:not(.food-slider-button-disabled):hover
	.food-slider-svg-circle-wrap {
	transform: scale(1.1);
}
.food-slider-button:not(.food-slider-button-disabled):hover circle {
	stroke-dasharray: 4px;
	stroke-dashoffset: 4px;
	opacity: 1;
}
.food-slider-button:not(.food-slider-button-disabled):hover
	.food-slider-svg-arrow {
	transform: rotateY(180deg) translate(-40px, 36.1px) scale(1.75);
}
.food-slider-button:not(.food-slider-button-disabled):hover
	.food-slider-svg-line {
	transform: translate(35px, 42px) scaleX(0.5);
}
.autoplay-progress {
	position: absolute;
	right: var(--food-slider-button-side-offset);
	bottom: 16px;
	z-index: 10;
	width: 48px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}

.autoplay-progress svg {
	--progress: 0;
	position: absolute;
	left: 0;
	top: 0px;
	z-index: 10;
	width: 100%;
	height: 100%;
	stroke-width: 1px;
	stroke: #fff;
	fill: none;
	stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
	stroke-dasharray: 125.6;
	transform: rotate(-90deg);
}
.food-slider {
	--food-slider-title-font-size: 5rem;
}
@media (max-width: 480px) {
	.food-slider {
		--food-slider-title-font-size: 3rem;
	}
}

@media (max-width: 640px) {
	.food-slider-button {
		top: auto;
		bottom: var(--food-slider-button-mobile-bottom-offset);
		transform: none;
	}
	.food-slider-button-prev {
		left: var(--food-slider-button-mobile-side-offset);
	}
	.food-slider-button-next {
		right: var(--food-slider-button-mobile-side-offset);
	}
	.food-slider-pagination {
		padding-top: 20px;
		bottom: unset !important;
		top: 0 !important;
		padding-bottom: 0;
	}
	.autoplay-progress svg {
		left: 0;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.food-slider-pagination .swiper-pagination-bullet {
		width: 80px;
		height: 40px;
	}
	.food-slider-pagination .swiper-pagination-bullet span {
		font-size: 0;
		top: 0;
	}
	.food-slider-button {
		width: 80px
	}
	.food-slider-title-text {
		font-size: 30px;
	}
	.food-slider .swiper-slide {
		height: 100%;
	}
	.food-slider-scale {
		height: 150%;
		width: 150%;
	}
	.autoplay-progress {
		left: 0;
    margin: 0 auto;
	}
}
.hero-img{
    height: 80%;
    width: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 5px solid rgb(0, 0, 0);
    filter: brightness(1.2);
}
.cllg_name{
    text-align: center;
    font-size: 60px;
    margin-bottom: -20px;
    color: #343148ff;
   -webkit-text-stroke: 2px #000000;
}
.container2{
    color: white;
}
#app{
    margin-bottom: -5em;
}
.Section-2-title{
    text-align: center;
    font-size: 60px;
    margin-bottom: -20px;
    margin-top: 100px;
    color: #343148ff;
   -webkit-text-stroke: 2px #000000;

}
.AboutUs{
    margin-top: 5em;
    display: flex;
    align-items: center;
    gap: 200px;

}
.AboutUs_img img{
    margin-left: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
    height: 500px;
}
.AboutUs_img h2{
    font-size: 40px;
    margin-top: 15px;
    text-align: center;
    color: #343148ff;
   -webkit-text-stroke: 2px #000000;
}
.info{
    width: 800px;
    color: #000000;
    font-size: 25px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.arrow {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #333;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

#prevTestimonial {
    left: 10px;
}

#nextTestimonial {
    right: 10px;
}

