<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="reg.css">
</head>

<body>
    <div id="page" class="site">
        <div class="container">
            <div class="form-box">
                <div class="progress">
                    <div class="logo"><a href="/"><span>Tsec</span>Connect</a></div>
                    <ul class="progress-steps">
                        <li class="step active">
                            <span>1</span>
                            <p>Personal<br><span>Fill Personal details</span></p>
                        </li>
                        <li class="step">
                            <span>2</span>
                            <p>Contact<br><span>Fill Contact details</span></p>
                        </li>
                        <li class="step">
                            <span>3</span>
                            <p>Security<br><span>Fill Security details</span></p>

                        </li>
                    </ul>
                </div>
                <form action="">
                    <div class="form-one form-step active">
                        <div class="bg-svg"></div>
                        <h2>Personal Information</h2>
                        <p>Enter your personal information correctly</p>
                        <div>
                            <label>First Name</label>
                            <input type="text" placeholder="e.g. Nitesh">
                        </div>
                        <div>
                            <label>Last Name</label>
                            <input type="text" placeholder="e.g. Domal">
                        </div>

                    </div>
                    <div class="form-two form-step">
                        <div class="bg-svg"></div>
                        <h2>Contact Information</h2>

                        <div>
                            <label for="">Phone</label>
                            <input type="tel" placeholder="+91XXXXXXXXXX">
                        </div>

                       


                    </div>
                    <div class="form-three form-step">
                        <div class="bg-svg">
                            <h2>Security</h2>
                            <div>
                                <label>Email</label>
                                <input type="email" placeholder="Your Email Address">
                            </div>

                            <div>
                                <label>Password</label>
                                <input type="password" placeholder="Enter Password">
                            </div>
                            <div>
                                <input type="password" placeholder="Confirm Password">
                            </div>




                        </div>
                    </div>
                    
                    <div class="btn-group">
                        <button class="btn-prev" disabled>Back</button>
                        <button class="btn-next">Next Step</button>
                        <button class="btn-submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="reg.js"></script>
</body>

</html>